<a href="https://colab.research.google.com/github/vyom-git/colab/blob/main/time_temp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import numpy as np
from statsmodels.tsa.seasonal import seasonal_decompose
import seaborn as sns

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = pd.read_csv('/content/drive/My Drive/colab_data/GlobalLandTemperaturesByState.csv')

In [7]:
df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil

In [8]:
df.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
State                             object
Country                           object
dtype: object

In [9]:
df.isnull().sum()

dt                                   0
AverageTemperature               25648
AverageTemperatureUncertainty    25648
State                                0
Country                              0
dtype: int64

In [10]:
df = df.dropna(how='any', axis=0)

In [11]:
df.shape

(620027, 5)

In [19]:
df.rename(columns={'dt':'date', 'AverageTemperature':'avg_temp', 'AverageTemperatureUncertainty':'conf_int_temp'}, inplace=True)
df.head()

         date  avg_temp  conf_int_temp State Country
0  1855-05-01    25.544          1.171  Acre  Brazil
1  1855-06-01    24.228          1.103  Acre  Brazil
2  1855-07-01    24.371          1.044  Acre  Brazil
3  1855-08-01    25.427          1.073  Acre  Brazil
4  1855-09-01    25.675          1.014  Acre  Brazil

In [20]:
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
df.index

DatetimeIndex(['1855-05-01', '1855-06-01', '1855-07-01', '1855-08-01',
               '1855-09-01', '1855-10-01', '1855-11-01', '1855-12-01',
               '1856-01-01', '1856-02-01',
               ...
               '2012-11-01', '2012-12-01', '2013-01-01', '2013-02-01',
               '2013-03-01', '2013-04-01', '2013-05-01', '2013-06-01',
               '2013-07-01', '2013-08-01'],
              dtype='datetime64[ns]', name='date', length=620027, freq=None)